/** @section Pagination */

.pagination {
	@include group( 8px );
}

.pagination_item {
	display: inline-block;
}

.pagination_link {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	background-color: $gray-2;
	border: 1px solid $gray-3;
	border-radius: $border-radius-sm;

	&:hover,
	&:focus,
	&.active {
		color: $white;
		background-color: $primary;
		border-color: $primary;
	}

	&.active {
		pointer-events: none;
	}

	&.pagination_link__empty {
		color: inherit;
		background-color: transparent;
		border: none;
	}
}

@media (max-width: map-get($grid-breakpoints, lg) - 1px) {
	.pagination_item {
		&:nth-child(4),
		&:nth-child(5) {
			display: none;
		}
	}
}