include _functions
include _mixins

block variables

doctype html
html( lang='en' )
	head
		block title
			title= pageName

		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )

		link( rel='icon', href='images/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', type='text/css', href="//fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" )
		link( rel='stylesheet', href='css/fonts.css' )
		link( rel='stylesheet', href='css/style.css' )

	body
		.page
			block page

		// Script includes
		script( src='js/script.js' )
